<div class="container mt-5">
  <main class="text-center">
    <h1 class="mb-5">The Alticci Sequence</h1>

    <p>The <strong>Alticci</strong> sequence - a(n) is defined by the formulas:</p>
    <ul>
      <li>n = 0 => a(0) = 0</li>
      <li>n = 1 => a(1) = 1</li>
      <li>n = 2 => a(2) = 1</li>
      <li>n > 2 => a(n-3) + a(n-2)</li>
    </ul>
    <p>Enter a value and the app will calculate the value corresponding to the index in the sequence:</p>

    <form class="mb-2" [formGroup]="indexForm" (ngSubmit)="onSubmit()">
      <div class="row form-group">
          <div class="offset-sm-4 col-sm-2">
            <input id="index" type="number" class="form-control" formControlName="index">
          </div>
        <div class="col-sm-2">
          <button class="btn btn-primary" [disabled]="!indexForm.valid" type="submit">Calculate</button>
        </div>
      </div>
    </form>

    <h3 *ngIf="result !== undefined">The number in this index is {{result}}!</h3>
  </main>
</div>
